table,tr,th,td
{
    border: 1px solid rgb(255, 255, 255); 
    border-collapse: collapse;
}
thead
{
    background-color: rgb(255, 255, 255);
}
.form-container {
    background-color: aqua;
    padding: 20px;
    margin: 10px;
}


.imh1{
    text-align: center;
    color: white;
}
body{
    background-color: rgb(0, 0, 0);
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(255, 136, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar li{
    text-align: center;
    float: left;
}
.navbar a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.navbar a:hover{
    background-color: rgb(224, 0, 0);
}
.home{
    padding-left: 350px;
}
.education{
    padding-left: 80px;
}
.skill{
    padding-left: 50px;
}
.contact{
    padding-left: 50px;
}
.projects{
    padding-left: 50px;
}
.main h1,p,table,tr,td,form,legend,input{
    color:white;
}
.hoja-yar th{
    color: rgb(0, 0, 0);
}
.normalh {
     color: white;
     text-align: left;
}
.wht a{
    color: white;
    text-decoration: none;
}
.tbloc {
    color: white;
    
}
.contform {
    color: white;
}